<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-3">
          <h4>Characters</h4>
        </div>
        <div class="col-md-3">
          Total Age: <span class="badge "></span>{{characterData?.totalAgeInMonths}} Months
        </div>
        <div class="col-md-3">
          Total Age: {{characterData?.totalAgeInYears}} Years
        </div>
        <div class="col-md-3">
          Matching Criteria {{characterData?.totalMatch}}
        </div>
      </div>
       
    </div>
    <div class="card-content"><br>
      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-primary btn-sm" (click)="setFilterOptions('Male')">Filter Male</button> ||
          <button class="btn btn-primary btn-sm" (click)="setFilterOptions('Female')">Filter Female</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary btn-sm" (click)="setSortOptions('name','asc')">Sort by name| asc</button> ||
          <button class="btn btn-primary btn-sm" (click)="setSortOptions('name','desc')">Sort by name| desc</button> 
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary btn-sm" (click)="setSortOptions('age','asc')">Sort by age| asc</button> ||
          <button class="btn btn-primary btn-sm" (click)="setSortOptions('age','desc')">Sort by age| desc</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary btn-sm" (click)="setSortOptions('gender','asc')">Sort by gender| asc</button> ||
          <button class="btn btn-primary btn-sm" (click)="setSortOptions('gender','desc')">Sort by gender| desc</button>
        </div>
      </div><br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">NAME</th>
        <th scope="col">GENDER</th>
        <th scope="col">AGE</th>
        <th scope="col">DOB</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characterData?.characters;let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{character.name}}</td>
        <td>{{character.gender}}</td>
        <td>{{character.ageInYears}}</td>
        <td>{{character.born}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>